<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>ASR and Disfluent Speech Processing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
  </head>
  <body>
    <h1>ASR and Disfluent Speech Processing</h1>
    <br>
    <p>Thank you for your interest in taking part in this project. Please take a moment to read through the information on this page before proceeding.</p>
    <br>
    <h3>What is this project about?</h3>
    <p>As part of my masters degree in computer science at the University of Birmingham, I am conducting research into the use of
            automatic speech recognition systems (ASR), specifically how they process disfluent speech. As a person who stammers
            myself, the idea for the project came about from my own dissatisfaction with the current state of speech recognition systems.</p>
    <p>If you would like to know a little more about the project, click <a href="/project">HERE</a>, otherwise please continue.</p>
    <br>
    <h3>What do I need?</h3>
    <br>
    <p>I require a range of fluent and disfluent speech samples, in order to analyse and develop methods to assist an ASR system to recognise disfluent speech.</p>
    <br>
    <h3>What will you need to do?</h3>
    <br>
    <p>You will be asked to read and record four short passages of text into the microphone on your computer. After each recording,
        the file will be saved to your computer, which you will then upload using the link provided. You are free to record as many or as few passages as you feel comfortable.</p>
    <br>
    <h3>How will your data be handled?</h3>
    <br>
    <p>Only I will have access to the data files and they will only be used for the purpose of the project. The files will be securely destroyed once the project has completed.</p>
        <br>
    <p>If you are happy to proceed, to begin please press:</p>
    <p><b><a href="/page1_fluent">HERE</a></b> if you are a fluent speaker.</p>
    <p><b><a href="/page1_disfluent">HERE</a></b> if you are a disfluent speaker.</p>
      <br>
      <br>
      <h3>Disclaimer</h3>
      <br>
      <p>No personal data is being collected.</p>
      <p>
        (Note: Matt Diamond‘s <a href="https://github.com/mattdiamond/Recorderjs">Recorder.js</a> is a popular JavaScript library for recording audio in the browser as uncompressed pcm audio in .wav containers. This page was made with this codebase and in no way is ownership claimed.)
    </p>
  </body>
</html>