<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>ASR and Disfluent Speech Processing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
  </head>
  <body>
        <h3>What am I trying to do?</h3>
        <p>I am conducting some research into the use of automatic speech recognition systems (ASR), specifically how they process disfluent speech. My goal is to design a system which is able to do
        two things: firstly, to manipulate an audio wave of a given sample of disfluent speech <i>before</i> it is processed by the ASR in the hope of changing the sample into something which the
        ASR finds more recognisable; secondly, <i>after</i> the sample has been processed by the ASR, to 'fill in' any remaining words from the sample which remain unrecognised using a probability
        model. This model will make use of a degree of natural language processing in order to 'predict' which words have not been recognised by the ASR and to fill them in.</p>
        <p>I hope to shed some light upon whether this method is feasible and whether further research would be worthwhile.</p>
        <p><a href="/">Back to the homepage</a></p>
   </body>
</html>
